.screen-container {
  background-color: white;
  height: 20%;
  margin: 16px;
}

.primary-output {
  height: 50%;
  /* background-color: beige; */
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.secondary-output {
  height: 50% ;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 28px;
  font-weight: 600;

}
